[Unit]
Description=Start kmonad with internal/thinkpad-extra.kbd

[Service]
ExecStart=/usr/bin/kmonad %E/kmonad/internal/thinkpad-extra.kbd
KillMode=process
Nice=-20

[Install]
WantedBy=default.target
