[Unit]
Description=Start kmonad with annepro2/main.kbd

[Service]
ExecStart=/usr/bin/kmonad %E/kmonad/annepro2/main.kbd
Restart=on-failure
KillMode=process
Nice=-20

[Install]
WantedBy=dev-annepro2.device
