* {
    font-family: JetBrainsMono NFM, Roboto, sans-serif, FontAwesome, MiSans, Helvetica, Arial;
    font-size: 16px;
    font-weight: 200;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#taskbar,
#mpd {
    /* padding: 4px 0; */
    /* color: white; */
    /* background-color: rgba(0, 0, 0, 0.0); */
    /* padding: 0px; */
    /* margin-left: 12px; */
    text-shadow: 0px 0px 2px black;

    /* border-color: #f30; */
    border-color: transparent;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

#network {
    color: #fff;
}

#mpris {
    color: #fff;
}

#battery {
    color: #0f0;
}

#battery.discharging {
    color: #fff;
}

#battery.discharging.warning {
    color: #f00;
}

#power-profiles-daemon {
    color: #fff;
}

#power-profiles-daemon {
    border-left-width: 0px;
}

#power-profiles-daemon.power-saver {
    /* color: #0f0; */
    border-left-width: 1px;
}

#power-profiles-daemon.performance {
    /* color: #f00; */
    border-left-width: 1px;
}

#clock {
    color: #fff;
    border-right-width: 1px;
}

/*************************************************************/

#backlight {
    color: #0ff;
}

#taskbar {
    padding-right: 0px;
    color: #0f0;
}

#taskbar button {
    padding: 0px;
    color: #0f0;
}

#taskbar button.active {
    color: #0f0;
}

#pulseaudio {
    color: #f00;
}

#clock.date {
    /* padding-left: 0px; */
    color: #ff0;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
    border: none;
}