* {
  font-family:
    Droid Sans,
    JetBrainsMono NFM,
    Ubuntu Condensed,
    FiraMono Nerd Font Propo,
    Comic Sans MS,
    MiSans,
    Helvetica,
    Roboto,
    sans-serif,
    FontAwesome,
    Arial;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#clock,
#battery,
#pulseaudio {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 0px;
  margin: 0px;
  text-shadow: 0px 0px 5px black;

  border-color: #fff;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

#battery.discharging.warning {
  color: #d00;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #0d0;
}

#clock {
}

#battery {
}

#pulseaudio {
}
