input {
    keyboard { repeat-delay 230; repeat-rate 60; }
    touchpad { tap; natural-scroll; click-method "clickfinger"; accel-speed 0.12; }
    touch { map-to-output "eDP-1"; }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="99%"
    disable-power-key-handling
}

output "eDP-1" { scale 2; background-color "#000"; }

layout {
    center-focused-column "never"
    preset-column-widths { proportion 0.5; }
    default-column-width {}
    struts { left 0; right 0; top 0; bottom 0; }
    gaps 0

    focus-ring {
        off
        width 1
        // active-gradient from="#f0f" to="#f0f" angle=45 in="oklch longer hue"
        active-color "#0f0"
    }

    border {
        off
        width 0.5
        active-gradient from="#0f0" to="#f00" angle=270 in="oklch longer hue"
        // inactive-gradient from="#f00" to="#0f0" angle=0 in="oklch longer hue"
        // active-color "#000"
        inactive-color "#555"
    }
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 3000
}

prefer-no-csd
// window-rule { geometry-corner-radius 8; clip-to-geometry true; }

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-path null

animations { slowdown 1.5; }

window-rule { match app-id="music-player"; default-column-width { proportion 0.2; }; }
window-rule { match app-id="org.gnome.Calculator"; default-column-width { proportion 0.3; }; }
window-rule { match app-id="nm-connection-editor|nmtui-connect|nmtui-edit|bottles|com.usebottles.bottles|transmission|deluge"; default-column-width { proportion 0.4; }; }
window-rule { match app-id="deluge"; default-column-width { proportion 0.5; }; }
window-rule { match app-id="firefox|org.gnome.Nautilus|kitty"; default-column-width { proportion 1.0; }; }

// spawn-at-startup "swaylock"
spawn-at-startup "set-wall"
spawn-at-startup "waybar"
spawn-at-startup "swayosd-server"
spawn-at-startup "watch-cliphist"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "low-bat-warn"
spawn-at-startup "myidle"
// spawn-at-startup "waycorner"
// spawn-at-startup "xwayland-satellite"
spawn-at-startup "fish" "-c" "swayosd-client --output-volume=mute-toggle; swayosd-client --output-volume=mute-toggle"

binds {
    Mod+space     repeat=false { spawn "kitty"; }
    Mod+D         repeat=false { spawn "fuzzel"; }
    Mod+U         repeat=false { spawn "gnome-calculator"; }
    Mod+F         repeat=false { spawn "nautilus"; }
    Mod+C         repeat=false { spawn "firefox"; }
    Mod+Shift+C   repeat=false { spawn "firefox" "--private-window"; }
    Mod+Control+C { spawn "makoctl" "dismiss"; }
    Mod+Q         repeat=false { spawn "fish" "-c" "niri msg action maximize-column; niri msg action reset-window-height;";  }
    Mod+W         repeat=false { 
        spawn "fish" "-c" \
        "killall swayosd-server waybar low-bat-warn swayidle waycorner; set-wall &; waybar &; disabled.waycorner &; swayosd-server &; low-bat-warn &; myidle &"
    }

    Cancel         repeat=false { spawn "swaylock"; }
    XF86Tools      repeat=false { spawn "video-player"; }
    XF86Launch5    repeat=false { spawn "music-player"; }
    XF86Launch6    repeat=false { spawn "toggle-fan"; }
    XF86Launch7    repeat=false { spawn "connect-buds"; }
    XF86Launch8    repeat=false { spawn "disconnect-buds"; }
    XF86Launch9    repeat=false { spawn "cb-mgr"; }
    XF86AudioMedia repeat=false { spawn "wlr-which-key"; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
    Alt+WheelScrollDown cooldown-ms=150 { focus-column-right; }
    Alt+WheelScrollUp   cooldown-ms=150 { focus-column-left; }

    Mod+H          { focus-column-left; }
    Mod+J          { focus-window-or-workspace-down; }
    Mod+K          { focus-window-or-workspace-up; }
    Mod+L          { focus-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; } 
    Mod+Ctrl+L     { move-column-right; }

    Mod+Left       { focus-column-left; }
    Mod+Down       { focus-window-or-workspace-down; }
    Mod+Up         { focus-window-or-workspace-up; }
    Mod+Right      { focus-column-right; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; } 
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home      repeat=false { focus-column-first; }
    Mod+End       repeat=false { focus-column-last; }
    Mod+Ctrl+Home repeat=false { move-column-to-first; }
    Mod+Ctrl+End  repeat=false { move-column-to-last; }

    Mod+BracketLeft  repeat=false { consume-or-expel-window-left; }
    Mod+BracketRight repeat=false { consume-or-expel-window-right; }

    Mod+R       repeat=false { switch-preset-column-width; }
    Mod+Shift+F repeat=false { fullscreen-window; }
    Mod+E       repeat=false { close-window; }

    Mod+Minus       { set-column-width "-10%"; }
    Mod+Equal       { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Print            repeat=false { screenshot; }
    Shift+Print      repeat=false { screenshot-window; }
    Ctrl+Shift+Print repeat=false { spawn "scr-rec"; }
    Ctrl+Escape      repeat=false { spawn "killall" "-s" "SIGINT" "wf-recorder" "wl-screenrec"; }

    Mod+Delete       repeat=false { quit skip-confirmation=true; }
    Mod+Shift+Delete repeat=false { spawn "reboot"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "swayosd-client" "--brightness=raise"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "swayosd-client" "--brightness=lower"; }

    XF86AudioRaiseVolume       allow-when-locked=true { spawn "swayosd-client" "--output-volume=raise" "--max-volume=150"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume=raise" "--max-volume=150"; }
    XF86AudioLowerVolume       allow-when-locked=true { spawn "swayosd-client" "--output-volume=lower" "--max-volume=150"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume=lower" "--max-volume=150"; }
    XF86AudioMute              allow-when-locked=true repeat=false { spawn "swayosd-client" "--output-volume=mute-toggle"; }
    Shift+XF86AudioMute        allow-when-locked=true repeat=false { spawn "swayosd-client" "--output-volume=mute-toggle"; }

    XF86AudioPlay    { spawn "playerctl" "play-pause"; }
    XF86AudioNext    { spawn "fish" "-c" "playerctl next && notify-playing"; }
    XF86AudioPrev    { spawn "fish" "-c" "playerctl previous && notify-playing"; }
    XF86AudioForward { spawn "playerctl" "position" "10+"; }
    XF86AudioRewind  { spawn "playerctl" "position" "10-"; }

    XF86AudioMicMute repeat=false { spawn "swayosd-client" "--input-volume=mute-toggle"; }
    
    // XF86AudioPlay
    // XF86AudioNext
    // XF86AudioPrev
    // XF86AudioForwar
    // XF86AudioRewind

}

hotkey-overlay { skip-at-startup; }

environment {
    // QT_QPA_PLATFORM "wayland"
    // QT_SCALE_FACTOR "2"
    // DISPLAY ":0"
}
