[Desktop Entry]
Name=Oracle VM VirtualBox
GenericName=Virtualization Software
Type=Application
Exec=env QT_QPA_PLATFORM=wayland-egl VirtualBox %U
TryExec=VirtualBox
Keywords=virtualization;
Icon=virtualbox
Categories=Emulator;System;
StartupWMClass=VirtualBox Manager
Comment=Run several virtual systems on a single host computer
